@import "layouts/layouts";
@import "widgets/widgets";

.iron-home-wrap{
    .home-group-cardcontent{
        width: 70px;
        height: 70px;
    }
}

.product-page{
    .card-product{
        width: 150px;
        .card-image{
            min-height: 16rem;
            height: 16rem;
        }
    }
}
.cart-info.quantity {
    width: 90px;
    border: #ccc 1px solid;
}
.input-quantity {
    border: 0px;
    width: 30px;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
.btn-increment-decrement {
    display: inline-block;
    padding: 5px 0px;
    background: #e2e2e2;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.btn-increment-decrement {
    display: inline-block;
    padding: 5px 0px;
    background: #e2e2e2;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.orderStatus-page{
    .search{
        padding: 20px;
    }
}

.openbills-page{
    .openbills-text>div>div{
        margin-top: 0px !important;
        margin-left: 10px;
        margin-bottom: 0px !important;
        // font-size: 10px !important;
    }
}

.table{
    overflow: auto;
}

.swal2-container{
    z-index: 99999 !important;
}

.layout-bottomnavigation{
    position: fixed;
    bottom: 0;
    width: 100%;
}
header{
    z-index: 9999999;
}
.layout-bottomnavigationaction{
    color: #ccc !important
}
.go-back-button{
    background-color: $base !important
}
.login-header{
    color: $base
}